<template>
  <div>
    <b-container>
        <h1 v-if="muestraVentas">Productos</h1>
      <b-row>
        <b-col cols="12 d-flex justify-content-between align-items-center">
          <b-button variant="primary" @click="muestraVentas = !muestraVentas">
            <span v-if="muestraVentas">Ventas</span>
            <span v-if="!muestraVentas">Productos</span>
          </b-button>
        </b-col>
      </b-row>
      <div v-if="!muestraVentas">
        <ventas></ventas>
      </div>
      <b-row v-if="muestraVentas">
        <b-col cols="12">
          <b-alert v-if="guardado" variant="success" show
            >Success Alert</b-alert
          >
        </b-col>
        <div class="mt-5">
          <b-button @click="agregar()">
        <span> Agregar Productos</span>
      </b-button>
        </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Tipo Producto</th>
                <th scope="col">Almacenes</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in datos" :key="item.idProducto">
                <td>{{ item.idProducto }}</td>
                <td>{{ item.nombre }}</td>
                <td>
                  <b-badge variant="primary" v-if="item.idTipoProducto == 1"
                    >Comun</b-badge
                  >
                  <b-badge variant="success" v-if="item.idTipoProducto == 2"
                    >Emergencia</b-badge
                  >
                </td>

                <td>
                  <div
                    v-for="almacen in item.listaAlmacen"
                    :key="almacen.idAlmacen"
                  >
                    <div v-if="almacen.activo == true">
                      <span>{{ almacen.nombreAlmacen }} </span>
                    </div>
                  </div>
                </td>
                <td>
                  <b-button-group>
                    <b-button variant="warning" @click="editar(item)"
                      >Editar</b-button
                    >
                    <b-button
                      v-if="item.activo"
                      variant="danger"
                      @click="eliminar(item)"
                      >Eliminar</b-button
                    >
                    <b-button v-else variant="info" @click="eliminar(item)"
                      >Restaurar</b-button
                    >
                  </b-button-group>
                </td>
              </tr>
            </tbody>
          </table>
      </b-row>
    </b-container>

    <b-modal v-model="show" id="modal-1" title="BootstrapVue">
      <b-container>
        <b-row>
          <b-col>
            <b-form-input
              id="input-live"
              v-model="producto.nombre"
              aria-describedby="input-live-help input-live-feedback"
              placeholder="nombre  producto"
              trim
            ></b-form-input>
          </b-col>
          <b-col>
            <b-form-input
              id="input-live"
              v-model="producto.precio"
              aria-describedby="input-live-help input-live-feedback"
              placeholder="precio"
              trim
            ></b-form-input>
          </b-col>
          <b-col>
            <b-form-select v-model="selected" class="mb-3">
              <b-form-select-option
                v-for="item in tiposProducto"
                :key="item.nombre"
                :value="item.idTipoProducto"
                >{{ item.nombre }}</b-form-select-option
              >
            </b-form-select>
          </b-col>
          <b-col>
            <b-form-group label="Almacenes">
              <b-form-checkbox
                v-for="almacen in listaAlmacenes"
                v-model="selecionados"
                :key="almacen.idAlmacen"
                :value="almacen"
              >
                {{ almacen.nombreAlmacen }}
              </b-form-checkbox>
            </b-form-group>
          </b-col>
        </b-row>
      </b-container>
      <div slot="modal-footer">
        <b-button
          variant="outline-primary"
          :disabled="loaderAcciones"
          @click="guardar()"
        >
          <span v-if="!loaderAcciones">Guardar</span>
          <span v-if="loaderAcciones">
            <b-spinner small></b-spinner>
            Cargando...
          </span>
        </b-button>
        <b-button
          variant="outline-danger"
          :disabled="loaderAcciones"
          @click="cerrarModal()"
          >Cancelar</b-button
        >
      </div>
    </b-modal>
  </div>
</template>

<script>
import Ventas from "./Ventas.vue";
export default {
  components: { Ventas },
  name: "HelloWorld",
  data: () => {
    return {
      datos: [],
      ejemplo: [],
      fields: [
        { key: "idProducto", label: "#" },
        { key: "nombre", label: "Nombre del producto" },
        { key: "listaAlmacen.idAlmacen", label: "Nombre del producto" },
        "Acciones",
      ],
      show: false,
      loaderAcciones: false,
      muestraVentas: false,
      producto: {
        idProducto: null,
        nombre: null,
        idTipoProducto: null,
      },
      guardado: false,
      selected: null,
      tiposProducto: null,
      selecionado: "",
      selecionados: "",
      listaAlmacenes: null,
    };
  },
  created() {
    this.obtenerProductos();
    this.obtenerTipoProductos();
    this.obtenerAlmacenes();
  },
  methods: {
    obtenerProductos() {
      this.$http.get(this.$api + "producto/obtener").then((respuesta) => {
        this.datos = respuesta.data.data;
      });
    },
    obtenerTipoProductos() {
      this.$http.get(this.$api + "tipoproducto/obtener").then((respuesta) => {
        this.tiposProducto = respuesta.data.data;
      });
    },
    obtenerAlmacenes() {
      this.$http.get(this.$api + "almacen/obtener").then((respuesta) => {
        this.listaAlmacenes = respuesta.data.data;
      });
    },
    agregar() {
      this.obtenerTipoProductos();
      this.show = true;
      this.selecionados = [];
      this.producto = {
        idProducto: null,
        nombre: null,
        idTipoProducto: null,
      };
    },
    editar(dato) {
      this.producto = dato;
      this.selected = dato.idTipoProducto;
      this.show = true;
    },
    eliminar(dato) {
      this.$http
        .delete(this.$api + "producto/eliminar?idProducto=" + dato.idProducto)
        .then((respuesta) => {
          if (respuesta.data.data) {
            this.guardado = true;
            setTimeout(() => (this.guardado = false), 10000);
            this.obtenerProductos();
          }
        })
        .finally();
    },
    cerrarModal() {
      this.show = false;
    },
    guardar() {
      this.loaderAcciones = false;
      this.producto.idTipoProducto = this.selected;
      this.producto.listaAlmacen = this.selecionados;
      this.producto.precio = parseInt(this.producto.precio);
      console.log(this.producto);
     this.$http
        .post(this.$api + "producto/guardar", this.producto)
        .then((respuesta) => {
          console.log(respuesta);
          this.guardado = true;
          setTimeout(() => (this.guardado = false), 10000);
          this.show = false;
          this.obtenerProductos();
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.loaderAcciones = false;
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
