<template>
  <div>
    <h1>Ventas</h1>
    <b-row>
      <b-col cols="12">
        <b-alert v-if="guardado" variant="success" show
          >Guardo Correctamente</b-alert
        >
      </b-col>
      <b-button @click="agregar()">
        <span> Agregar Ventas</span>
      </b-button>
      <table class="table">
        <thead>
          <th scope="col">No Venta</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Productos</th>
          <th scope="col">Total</th>
          <th scope="col">Estatus</th>
          <th scope="col">Acciones</th>
        </thead>
        <tbody>
          <tr v-for="venta in ventas" :key="venta.idVenta">
            <td>{{ venta.idVenta }}</td>
            <td>{{ venta.descripcionVenta }}</td>
            <td>
              <div
                v-for="producto in venta.listaProducto"
                :key="producto.idProducto"
              >
                <span>*{{ producto.nombre }}</span>
              </div>
            </td>
            <td>{{ venta.total }}</td>
            <td>
              <b-badge variant="success" v-if="venta.activo == true"
                >Activa</b-badge
              >
              <b-badge variant="danger" v-if="venta.activo == false"
                >Cancelada</b-badge
              >
            </td>
            <td>
              <b-button-group>
                <b-button variant="warning" @click="editar(venta)"
                  >Editar</b-button
                >
                <b-button
                  v-if="venta.activo"
                  variant="danger"
                  @click="eliminar(venta.idVenta)"
                  >Cancelar</b-button
                >
                <b-button v-else variant="info" @click="eliminar(venta.idVenta)"
                  >Activar
                </b-button>
              </b-button-group>
            </td>
          </tr>
        </tbody>
      </table>
    </b-row>
    <b-modal v-model="show" id="modal-2" title="Crear Venta">
      <b-container>
        <b-row>
          <b-col>
            <b-form-select
              @change="agrega()"
              v-model="selecionado"
              class="mb-3"
            >
              <b-form-select-option
                v-for="producto in productos"
                :key="producto.idProducto"
                :value="producto"
                >{{ producto.nombre }}
              </b-form-select-option>
            </b-form-select>
          </b-col>
          <b-col>
            <div>
              <h4> Lista de Productos</h4>
              <ul
                v-for="(productoventa, index) in selecionados"
                :key="productoventa.idProducto"
              >
                <li>
                  ${{ productoventa.precio }}-{{ productoventa.nombre }}
                  <br />
                  <button @click="sumarRestarProducto(index, 1)">+</button>
                  {{ productoventa.cantidad }}
                  <button @click="sumarRestarProducto(index, 2)">-</button>
                  <button class="ml-3" @click="eliminarProductoVenta(index)">x</button>
                </li>
              </ul>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <p>Descripcion de la Venta</p>
            <b-form-textarea
              id="textarea-state"
              v-model="venta.descripcionVenta"
              rows="3"
            ></b-form-textarea>
          </b-col>
        </b-row>
        <div>
          <span>Total</span>
          <h4>${{ venta.total }}.00</h4>
        </div>
      </b-container>
      <div slot="modal-footer">
        <b-button
          variant="outline-primary"
          :disabled="loaderAcciones"
          @click="guardar()"
        >
          <span v-if="!loaderAcciones">Guardar</span>
          <span v-if="loaderAcciones">
            <b-spinner small></b-spinner>
            Cargando...
          </span>
        </b-button>
        <b-button
          variant="outline-danger"
          :disabled="loaderAcciones"
          @click="cerrarModal()"
          >Cancelar</b-button
        >
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Ventas",
  data: () => {
    return {
      productos: null,
      ventas: null,
      show: false,
      descpricion: "",
      total: 0,
      selecionados: "",
      selecionado: [],
      guardado: false,
      loaderAcciones: false,
      venta: {
        idVenta: null,
        descripcionVenta: "",
        listaProducto: [],
        activo: true,
        total: 0,
      },
    };
  },
  created() {
    this.obtenerProductos();
    this.obtenerVentas();
  },
  methods: {
    obtenerProductos() {
      this.$http.get(this.$api + "producto/listar").then((respuesta) => {
        this.productos = respuesta.data.data;
      });
    },
    obtenerVentas() {
      this.$http.get(this.$api + "ventas/obtener").then((respuesta) => {
        this.ventas = respuesta.data.data;
      });
    },
    agregar() {
      this.show = true;
      this.selecionados = [];
      this.productos.cantidad = 0;
      this.venta = {
        idVenta: null,
        descripcionVenta: "",
        listaProducto: [],
        activo: true,
        total: 0,
      };
    },
    editar(item) {
      this.venta = item;
      this.selecionados = item.listaProducto;
      this.show = true;
    },
    eliminar(item) {
      this.$http
        .delete(this.$api + "ventas/cancelar?idVenta=" + item)
        .then((respuesta) => {
          if (respuesta.data.data) {
            this.obtenerVentas();
          }
        })
        .finally();
    },
    guardar() {
      this.loaderAcciones = false;
      this.venta.listaProducto = this.selecionados;
      this.$http
        .post(this.$api + "ventas/guardar", this.venta)
        .then((respuesta) => {
          console.log(respuesta);
          this.guardado = true;
          setTimeout(() => (this.guardado = false), 10000);
          this.show = false;
          this.obtenerVentas();
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.loaderAcciones = false;
        });
    },
    sumarProducto() {
     let precioAux = 0;
      for (let index = 0; index < this.selecionados.length; index++) {
        precioAux += this.selecionados[index].precio * this.selecionados[index].cantidad;
      }
      this.venta.total = precioAux;
    },
    cerrarModal() {
      this.show = false;
    },
    sumarRestarProducto(index, tipo) {
      if (tipo == 1 && this.selecionados[index].cantidad >= 1) {
        this.selecionados[index].cantidad++;
        this.sumarProducto();
      }
      if (tipo == 2 && this.selecionados[index].cantidad > 1) {
        this.selecionados[index].cantidad--;
        this.sumarProducto();
      }
    },
    agrega() {
      let arrayAux = [];
      arrayAux.push(this.selecionado);
      for (let i = 0; i < arrayAux.length; i++) {
        let existe = false;
        for (let j = 0; j < this.selecionados.length; j++) {
          if (arrayAux[i].nombre === this.selecionados[j].nombre) {
            this.selecionados[j].cantidad ++;
            this.sumarProducto();
            existe = true;
          }
        }
        if(!existe){
        this.selecionado.cantidad = 1;
        this.selecionados.push(this.selecionado);
        this.selecionado = [];
         this.sumarProducto();
        }
      }
    },
    eliminarProductoVenta(i){
      this.selecionados.splice(i, 1)
      this.sumarProducto();
    },
  },
};
</script>

<style scoped></style>
